<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <BonusAdjustment xmlns="http://tempuri.org/">
      <lstru_rq>
        <requestheader>
          <callusercode>${callUserCode}</callusercode>
          <callpassword>${callPassword}</callpassword>
        </requestheader>
        <requestitem>
          <telephone>${telephone}</telephone>
          <bonuspoint>${bonuspoint}</bonuspoint>
          <adjreason>${adjreason}</adjreason>
          <docno>${docno}</docno>
        </requestitem>
      </lstru_rq>
    </BonusAdjustment>
  </soap:Body>
</soap:Envelope>