<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizaike.open.dao.HomestayDockingMapper">
    <resultMap id="BaseResultMap" type="com.zizaike.entity.open.HomestayDocking">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="rids" jdbcType="VARCHAR" property="rids"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="operator_uid" jdbcType="INTEGER" property="operatorUid"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <resultMap id="QunarResultMap" type="com.zizaike.entity.open.qunar.response.Hotel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
    </resultMap>
    <resultMap id="QunarResultMapExt" type="com.zizaike.entity.open.qunar.HotelExt">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="rids" jdbcType="VARCHAR" property="rids"/>
        <result column="dest_id" jdbcType="INTEGER" property="dest_id"/>
    </resultMap>
    <sql id="Base_Column_List">
id, uid, rids, status, channel, operator_uid, create_time, update_date
</sql>
    <select id="queryAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_homestay_docking
        where status =1
    </select>
    <select id="queryAllQunarHotel" parameterType="java.lang.Integer" resultMap="QunarResultMapExt">
	 select d.uid as id,d.tel_num as tel,d.dest_id,if(d.dest_id in (10, 12), d.address, d.e_address)as address, if(d.dest_id in (10, 12), d.name, d.e_name) as name,e.city_code as city from (SELECT a.uid,b.tel_num,b.dest_id,b.name,b.e_name,b.e_address,b.address,SUBSTR(c.local_code,1,7) as local_code from LKYou.t_homestay_docking a        
	 	LEFT JOIN one_db.drupal_users b ON a.uid=b.uid
        LEFT JOIN LKYou.t_weibo_poi_tw c ON a.uid=c.uid where a.status=1 and a.channel='qunar')as d
        LEFT JOIN LKYou.t_open_qunar_area e ON d.local_code=e.type_code
    </select>
    <select id="queryQunarHotel" parameterType="java.lang.String" resultMap="QunarResultMapExt">
     select d.uid as id,d.tel_num as tel,d.dest_id,if(d.dest_id in (10, 12), d.address, d.e_address)as address, if(d.dest_id in (10, 12), d.name, d.e_name) as name,d.rids,e.city_code as city from (SELECT a.uid,a.rids,b.dest_id,b.tel_num,b.name,b.address,b.e_name,b.e_address,SUBSTR(c.local_code,1,7) as local_code from LKYou.t_homestay_docking a
        LEFT JOIN one_db.drupal_users b ON a.uid=b.uid
        LEFT JOIN LKYou.t_weibo_poi_tw c ON a.uid=c.uid where a.status=1 and a.channel='qunar' and a.uid=#{id,jdbcType=VARCHAR })as d
        LEFT JOIN LKYou.t_open_qunar_area e ON d.local_code=e.type_code

    </select>
</mapper>