<?xml version="1.0" encoding="utf-8"?>

<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
  <soap:Header> 
    <CtripSoapHeader xmlns="http://www.ctrip.com/">
        <Login>${userName}</Login>
        <Password>${password}</Password>
        <Company>${userId}</Company>
    </CtripSoapHeader> 
  </soap:Header>  
  <soap:Body> 
    <Request xmlns="http://www.ctrip.com/">  
      <requestXml> 
       	&lt;Request&gt;
		&lt;HeaderInfo UserID=&quot${userId}&quot RequestorId=&quotCtrip.com&quot AsyncRequest=&quotfalse&quot
		TimeStamp=&quot${date}&quot&gt;
		&lt;Authentication UserName=&quotzhilianjishuzhuanshu&quot
		Password=&quotzhilianzhuanshu11!!&quot/&gt;
		&lt;RequestType Name=&quotDomesticPushOrderStatusRequest&quot Version=&quot1.2&quot/&gt;
		&lt;/HeaderInfo&gt;
		&lt;DomesticPushOrderStatusRequest&gt;
		&lt;OrderID&gt;${orderId}&lt;/OrderID&gt;
		&lt;InterFaceSendID&gt;${interFaceSendID}&lt;/InterFaceSendID&gt;
		&lt;OrderStatus&gt;${orderStatus}&lt;/OrderStatus&gt;
		&lt;InterfaceConfirmNo&gt;${interfaceConfirmNo}&lt;/InterfaceConfirmNo&gt;
		&lt;HotelConfirmNo&gt;${hotelConfirmNo}&lt;/HotelConfirmNo&gt;
		&lt;ResultCode&gt;0&lt;/ResultCode&gt; 
		&lt;Message&gt;Success&lt;/Message&gt;
		&lt;/DomesticPushOrderStatusRequest&gt;
		&lt;/Request&gt;
      </requestXml> 
    </Request> 
  </soap:Body> 
</soap:Envelope>
