<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:Body>
    <AdapterRequest xmlns="http://www.ctrip.com/">
      <requestXml>
      &lt;Request&gt;&lt;HeaderInfo UserID="${userId}" RequestorId="Ctrip.com" AsyncRequest="false" TimeStamp="${date}"&gt;&lt;Authentication UserName="${userName}" Password="${password}"/&gt;&lt;RequestType Name="GetHotelInfo" Version="1.2"/&gt;&lt;/HeaderInfo&gt;
      &lt;GetHotelInfoRequest&gt;
      	&lt;SupplierID&gt;${supplierID}&lt;/SupplierID&gt;
      	&lt;CurrentPage&gt;1&lt;/CurrentPage&gt;
      &lt;/GetHotelInfoRequest&gt;
      &lt;/Request&gt;
      </requestXml>
    </AdapterRequest>
  </soap:Body>
</soap:Envelope>