<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:Body>
    <AdapterRequest xmlns="http://www.ctrip.com/">
      <requestXml>
      &lt;Request&gt;
      	&lt;HeaderInfo UserID="${userId}" RequestorId="Ctrip.com" AsyncRequest="false" TimeStamp="${date}"&gt;&lt;Authentication UserName="${userName}" Password="${password}"/&gt;&lt;RequestType Name="GetMappingInfo" Version="1.1"/&gt;&lt;/HeaderInfo&gt;
      &lt;GetMappingInfoRequestList&gt;
      	&lt;GetMappingInfoType&gt;${getMappingInfoType}&lt;/GetMappingInfoType&gt;
      	&lt;SupplierID&gt;${supplierID}&lt;/SupplierID&gt;
      	#foreach ($hotel in $hotels)
      		&lt;GetMappingInfoRequest&gt;
      			&lt;Hotel&gt;$hotel&lt;/Hotel&gt;
      		&lt;/GetMappingInfoRequest&gt;
      	#end
      &lt;/GetMappingInfoRequestList&gt;
      &lt;/Request&gt;
      </requestXml>
    </AdapterRequest>
  </soap:Body>
</soap:Envelope>