<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:Body>
    <AdapterRequest xmlns="http://www.ctrip.com/">
      <requestXml>
      &lt;Request&gt;
      &lt;HeaderInfo UserID="${userId}" RequestorId="Ctrip.com" AsyncRequest="false" TimeStamp="${date}"&gt;&lt;Authentication UserName="${userName}" Password="${password}"/&gt;&lt;RequestType Name="SetMappingInfo" Version="1.2"/&gt;&lt;/HeaderInfo&gt;
      &lt;SetMappingInfoRequest&gt;
	      #if($setMappingOperateType=="REQUEST_A_NEW_CTRIP_HOTEL")
	      	&lt;SupplierID&gt;${supplierID}&lt;/SupplierID&gt;
	      	&lt;MasterHotel&gt;${masterHotel}&lt;/MasterHotel&gt;
	      	&lt;MasterRoom&gt;${masterRoom}&lt;/MasterRoom&gt;
	      	&lt;RatePlanCode&gt;${ratePlanCode}&lt;/RatePlanCode&gt;
	      	&lt;HotelGroupRoomTypeCode&gt;${hotelGroupRoomTypeCode}&lt;/HotelGroupRoomTypeCode&gt;
	      	&lt;HotelGroupHotelCode&gt;${hotelGroupHotelCode}&lt;/HotelGroupHotelCode&gt;
	      	&lt;HotelGroupRatePlanCode&gt;${hotelGroupRatePlanCode}&lt;/HotelGroupRatePlanCode&gt;
	      	&lt;HotelGroupRoomName&gt;${hotelGroupRoomName}&lt;/HotelGroupRoomName&gt;
	      	&lt;BalanceType&gt;${balanceType}&lt;/BalanceType&gt;
	      	&lt;MappingType&gt;${mappingType}&lt;/MappingType&gt;
	      	&lt;SetType&gt;${setType}&lt;/SetType&gt;
	      #elseif($setMappingOperateType=="UN_MAPPING_ROOM_ID_DO_NOT_DELETE_PRICE")
	      	&lt;SupplierID&gt;${supplierID}&lt;/SupplierID&gt;
	      	&lt;Hotel&gt;${hotel}&lt;/Hotel&gt;
	      	&lt;Room&gt;${room}&lt;/Room&gt;
	      	&lt;RatePlanCode/&gt;
	      	&lt;HotelGroupRoomTypeCode&gt;${hotelGroupRoomTypeCode}&lt;/HotelGroupRoomTypeCode&gt;
	      	&lt;HotelGroupHotelCode&gt;${hotelGroupHotelCode}&lt;/HotelGroupHotelCode&gt;
	      	&lt;HotelGroupRatePlanCode&gt;${hotelGroupRatePlanCode}&lt;/HotelGroupRatePlanCode&gt;
	      	&lt;HotelGroupRoomName&gt;${hotelGroupRoomName}&lt;/HotelGroupRoomName&gt;
	      	&lt;BalanceType&gt;${balanceType}&lt;/BalanceType&gt;
	      	&lt;MappingType&gt;${mappingType}&lt;/MappingType&gt;
	      	&lt;SetType&gt;${setType}&lt;/SetType&gt;
	      #elseif($setMappingOperateType=="MAP_EXISTING_HOTEL_AND_ROOM_ID")
	      	&lt;SupplierID&gt;${supplierID}&lt;/SupplierID&gt;
	      	&lt;Hotel&gt;${hotel}&lt;/Hotel&gt;
	      	&lt;Room&gt;${room}&lt;/Room&gt;
	      	&lt;RatePlanCode/&gt;
	      	&lt;HotelGroupRoomTypeCode&gt;${hotelGroupRoomTypeCode}&lt;/HotelGroupRoomTypeCode&gt;
	      	&lt;HotelGroupHotelCode&gt;${hotelGroupHotelCode}&lt;/HotelGroupHotelCode&gt;
	      	&lt;HotelGroupRatePlanCode&gt;${hotelGroupRatePlanCode}&lt;/HotelGroupRatePlanCode&gt;
	      	&lt;HotelGroupRoomName&gt;${hotelGroupRoomName}&lt;/HotelGroupRoomName&gt;
	      	&lt;BalanceType&gt;${balanceType}&lt;/BalanceType&gt;
	      	&lt;MappingType&gt;${mappingType}&lt;/MappingType&gt;
	      	&lt;SetType&gt;${setType}&lt;/SetType&gt;
	      #end
      &lt;/SetMappingInfoRequest&gt;
      &lt;/Request&gt;
      </requestXml>
    </AdapterRequest>
  </soap:Body>
</soap:Envelope>