<?xml version="1.0" encoding="utf-8"?>

<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
  <soap:Header> 
    <CtripSoapHeader xmlns="http://www.ctrip.com/">
        <Login>${userName}</Login>
        <Password>${password}</Password>
        <Company>${userId}</Company>
    </CtripSoapHeader> 
  </soap:Header>  
  <soap:Body> 
    <Request xmlns="http://www.ctrip.com/">  
      <requestXml>
      	
       	&lt;Request&gt;
		&lt;HeaderInfo UserID="${userId}" RequestorId="Ctrip.com" AsyncRequest="false"
		TimeStamp="${date}"&gt;
		&lt;Authentication UserName="${userName}"
		Password="${password}"/&gt; 
		&lt;RequestType Name="SetRoomPrice" Version="1.0"/&gt;
		&lt;/HeaderInfo&gt;
		&lt;SetAdaperRoomPriceRequest&gt;
		&lt;SetRoomPriceItems&gt;
		#foreach ($setRoomPriceItem in $setRoomPriceItems)
			&lt;SetRoomPriceItem&gt;
			&lt;PriceInfos&gt;
				#foreach ($priceInfo in $setRoomPriceItem.priceInfos)
					&lt;PriceInfo&gt;
					&lt;Prices&gt;
					&lt;Price&gt;
					&lt;AmountBeforeTaxFee&gt;$priceInfo.amountBeforeTaxFee&lt;/AmountBeforeTaxFee&gt;
					&lt;AmountAfterTaxFee&gt;$priceInfo.amountAfterTaxFee&lt;/AmountAfterTaxFee&gt;
					&lt;CostAmountBeforeTaxFee&gt;$priceInfo.costAmountBeforeTaxFee&lt;/CostAmountBeforeTaxFee&gt;
					&lt;CostAmountAfterTaxFee&gt;$priceInfo.costAmountAfterTaxFee&lt;/CostAmountAfterTaxFee&gt;
					&lt;Day&gt;$priceInfo.day&lt;/Day&gt;
					&lt;/Price&gt;
					&lt;/Prices&gt;
					&lt;Stays&gt;$priceInfo.stays&lt;/Stays&gt;
					&lt;BlanceType&gt;$priceInfo.blanceType&lt;/BlanceType&gt;
					&lt;PriceType&gt;$priceInfo.priceType&lt;/PriceType&gt;
					&lt;Breakfast&gt;$priceInfo.breakfast&lt;/Breakfast&gt;
					&lt;Applicability&gt;$priceInfo.applicability&lt;/Applicability&gt;
					&lt;/PriceInfo&gt;
				#end
			&lt;/PriceInfos&gt;
			&lt;RoomID&gt;$setRoomPriceItem.roomID&lt;/RoomID&gt;
			&lt;StartDate&gt;$setRoomPriceItem.startDate&lt;/StartDate&gt;
			&lt;EndDate&gt;$setRoomPriceItem.endDate&lt;/EndDate&gt;
			&lt;Currency&gt;$setRoomPriceItem.currency&lt;/Currency&gt;
			&lt;/SetRoomPriceItem&gt;
      	#end
		&lt;/SetRoomPriceItems&gt;
		&lt;HotelID&gt;$hotelID&lt;/HotelID&gt; 
		&lt;Submitor&gt;$submitor&lt;/Submitor&gt;
		&lt;Title&gt;$title&lt;/Title&gt;
		&lt;Priority&gt;$priority&lt;/Priority&gt;
		&lt;/SetAdaperRoomPriceRequest&gt;
		&lt;/Request&gt;
      </requestXml> 
    </Request> 
  </soap:Body> 
</soap:Envelope>
