<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
                http://www.springframework.org/schema/task  
    http://www.springframework.org/schema/task/spring-task-4.1.xsd">


	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="openConnectionFactory"
		host="${open.rabbitmq.host}" username="${open.rabbitmq.username}"
		password="${open.rabbitmq.password}" port="${open.rabbitmq.port}"
		virtual-host="${open.rabbitmq.vhost}" channel-cache-size="${open.rabbitmq.channelCacheSize}" />

	<rabbit:admin connection-factory="openConnectionFactory" />

	<!-- queue 队列声明 -->
	<rabbit:queue durable="true" auto-delete="false"
		exclusive="false" name="${open.rabbitmq.roomType.queue}" />
	<rabbit:queue durable="true" auto-delete="false"
		exclusive="false" name="${open.rabbitmq.hotel.queue}" />
	<rabbit:queue durable="true" auto-delete="false"
		exclusive="false" name="${open.rabbitmq.ratePlan.queue}" />
	<rabbit:queue durable="true" auto-delete="false"
		exclusive="false" name="${open.rabbitmq.rates.queue}" />

	<!-- exchange queue binging key 绑定 -->
	<rabbit:topic-exchange name="${open.rabbitmq.exchange}"
		durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding queue="${open.rabbitmq.roomType.queue}"
				pattern="open.roomType.*.*" />
			<rabbit:binding queue="${open.rabbitmq.hotel.queue}"
				pattern="open.hotel.*.*" />
			<rabbit:binding queue="${open.rabbitmq.ratePlan.queue}"
				pattern="open.ratePlan.*.*" />
			<rabbit:binding queue="${open.rabbitmq.rates.queue}"
				pattern="open.rates.*.*" />
		</rabbit:bindings>
	</rabbit:topic-exchange>

	<rabbit:template exchange="${open.rabbitmq.exchange}" id="modifyHotelTemplate"
		connection-factory="openConnectionFactory" routing-key="open.hotel.modify.success"
		message-converter="fastjsonMessageConverter" /> 
	<rabbit:template exchange="${open.rabbitmq.exchange}" id="modifyRoomTypeTemplate"
		connection-factory="openConnectionFactory" routing-key="open.roomType.modify.success"
		message-converter="fastjsonMessageConverter" />
	<rabbit:template exchange="${open.rabbitmq.exchange}" id="modifyRoomTypeTemplate"
		connection-factory="openConnectionFactory" routing-key="open.ratePlan.modify.success"
		message-converter="fastjsonMessageConverter" /> 
	<rabbit:template exchange="${open.rabbitmq.exchange}" id="modifyRoomTypeTemplate"
		connection-factory="openConnectionFactory" routing-key="open.rates.modify.success"
		message-converter="fastjsonMessageConverter" />  
		
		<bean id="fastjsonMessageConverter" class="com.zizaike.core.common.util.FastJsonMessageConverter" />
</beans>